name: Health Check

on:
  push:
    branches:
      - main
  pull_request:
    branches: [main]
    types: [opened, synchronize]
  schedule:
    - cron: '0 0 * * *'

jobs:
  health_check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Check the deployed service URL
        uses: jtalk/url-health-check-action@v4
        with:
          url: https://pokedex-vihq.onrender.com/health