name: Deployment Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches: [main]
    types: [opened, synchronize]

env:
  SKIP_CONDITION: ${{ contains(join(toJson(github.event.commits.*.message)), '#skip') }}

jobs:
  simple_deployment_pipeline:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Install dependencies
        run: npm install
      - name: Check style
        run: npm run eslint
      - run: npm run build
      - run: npm run test
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps
      - name: Run E2E Tests
        run: npm run test:e2e
      - name: Deploy to Render
        uses: JorgeLNJunior/render-deploy@v1.4.7
        if: ${{ github.event_name == 'push' && env.SKIP_CONDITION == 'false' }}
        with:
          service_id: ${{ secrets.RENDER_SERVICE_ID }}
          api_key: ${{ secrets.RENDER_API_KEY }}
          wait_deploy: true
      - name: Test Success
        uses: sarisia/actions-status-discord@v1
        if: success()
        with:
            webhook: ${{ secrets.DISCORD_WEBHOOK }}
            status: Success
            title: A new version of `Pokedex` has been deployed
            description: to https://pokedex-vihq.onrender.com by ${{ github.event.head_commit.author.username }}
      - name: Test Failure
        uses: sarisia/actions-status-discord@v1
        if: failure()
        with:
            webhook: ${{ secrets.DISCORD_WEBHOOK }}
            status: Failure
            title: The `Pokedex` deployment failed
            description: commit ${{ github.event.head_commit.id }} by ${{ github.event.head_commit.author.username }} broke the build :(
  tag_release:
    needs: [simple_deployment_pipeline]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Bump version and push tag
        if: ${{ github.event_name == 'push' && env.SKIP_CONDITION == 'false' }}
        uses: anothrNick/github-tag-action@1.75.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DEFAULT_BUMP: patch


